<form class="form-horizontal" name="nova_faktura" novalidate>
    <h2> Nova faktura</h2>

    <!--<div class="form-group">-->
        <!--<label class="control-label col-xs-2" for="broj-racuna">`Broj racuna</label>-->
        <!--<div class="col-xs-5">-->
            <!--<input type="text" class="form-control" placeholder="Broj racuna" id="broj-racuna" disabled/>-->
        <!--</div>-->
    <!--</div>-->
    <!--<br>-->

    <!--<div class="col-xs-6">-->
        <!--<div class="input-group" id="partnerPanel">-->
            <!--<span class="input-group-addon" id="partnerAddon"> Naziv kupca</span>-->
            <!--<input type="text" class="form-control" id="partner" placeholder="Naziv kupca" aria-describedby="partnerAddon" required-->
                   <!--ng-model="currPartner" uib-typeahead="partner as partner.naziv for partner in $root.partners | filter:{naziv:$viewValue} | limitTo:8"/>-->
        <!--</div>-->
    <!--</div>-->
    <div class="form-group">
        <label class="control-label col-xs-2" for="naziv-partnera">Naziv kupca</label>
        <div class="col-xs-5">
            <input type="text" class="form-control" id="naziv-partnera" placeholder="Naziv kupca" required
                   ng-model="currPartner" uib-typeahead="partner as partner.naziv for partner in $root.partners | filter:{naziv:$viewValue} | limitTo:8"/>
        </div>
    </div>
    <br>
    <div class="form-group">
        <label class="control-label col-xs-2">Adresa kupca</label>
        <label class="control-label col-xs-5 left_texted">{{currPartner.adresa}}</label>
    </div>
    <br>
    <div class="form-group">
        <label class="control-label col-xs-2">PIB kupca</label>
        <label class="control-label col-xs-5 left_texted">{{currPartner.pib}}</label>
    </div>
    <br>

    <!--<div class="form-group">-->
        <!--<label class="control-label col-xs-2" for="naziv-kupca">Naziv kupca</label>-->
        <!--<div class="col-xs-5">-->
            <!--<input type="text" class="form-control" placeholder="Naziv kupca" id="naziv-kupca" ng-model="novaFaktura.kupacNaziv" required/>-->
        <!--</div>-->
    <!--</div>-->
    <!--<br>-->
    <!--<div class="form-group">-->
        <!--<label class="control-label col-xs-2" for="adresa-kupca">Adresa kupca</label>-->
        <!--<div class="col-xs-5">-->
            <!--<input type="text" class="form-control" placeholder="Adresa kupca" id="adresa-kupca" ng-model="novaFaktura.kupacAdresa" required/>-->
        <!--</div>-->
    <!--</div>-->
    <!--<br>-->
    <!--<div class="form-group">-->
        <!--<label class="control-label col-xs-2" for="pib-kupca">PIB kupca</label>-->
        <!--<div class="col-xs-5">-->
            <!--<input type="text" class="form-control" placeholder="PIB kupca" id="pib-kupca" ng-model="novaFaktura.kupacPIB" required/>-->
        <!--</div>-->
    <!--</div>-->
    <!--<br>-->
    <div class="form-group">
        <label class="control-label col-xs-2">`Vrednost robe</label>
        <label class="control-label col-xs-5 left_texted">{{fakturaVrednostSegmenta('roba')}}</label>
    </div>
    <br>
    <div class="form-group">
        <label class="control-label col-xs-2">`Vrednost usluga</label>
        <label class="control-label col-xs-5 left_texted">{{fakturaVrednostSegmenta('usluga')}}</label>
    </div>
    <br>
    <div class="form-group">
        <label class="control-label col-xs-2">`Ukupan rabat</label>
        <label class="control-label col-xs-5 left_texted">{{fakturaVrednostRabat()}}</label>
    </div>
    <br>
    <!--<div class="form-group">-->
        <!--<label class="control-label col-xs-2" for="ukupan-porez">`Ukupan porez</label>-->
        <!--<div class="col-xs-5">-->
            <!--<input type="text" class="form-control " placeholder="Ukupan porez" id="ukupan-porez" disabled/>-->
        <!--</div>-->
    <!--</div>-->
    <!--<br>-->
    <!--<div class="form-group">-->
        <!--<label class="control-label col-xs-2" for="oznaka-valute">`Oznaka valute</label>-->
        <!--<div class="col-xs-5">-->
            <!--<input type="text" class="form-control " placeholder="Oznaka valute" id="oznaka-valute" disabled/>-->
        <!--</div>-->
    <!--</div>-->
    <br>
    <div class="form-group">
        <label class="control-label col-xs-2">`Iznos za uplatu</label>
        <label class="control-label col-xs-5 left_texted">{{fakturaUkupno()}}</label>
    </div>
    <br>
    <!--<div class="form-group">-->
        <!--<label class="control-label col-xs-2" for="datum">Datum</label>-->
        <!--<div class="col-xs-5">-->
            <!--<input type="text" class="form-control " placeholder="Datum" id="datum" disabled/>-->
        <!--</div>-->
    <!--</div>-->

    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-4">
            <button class="btn btn-default"  ng-disabled="nova_faktura.$invalid" ng-click="newTicket()">Posalji fakturu</button><!-- ng-click="logCtrl.logging()" -->
        </div>
    </div>

</form>
<table class="table table-hover">
    <tr>
        <th> Rbr </th>
        <th> Naziv </th>
        <th> Vrsta </th>
        <th> Kolicina </th>
        <th> Jedinica mere </th>
        <th> Jedinicna cena </th>
        <th> Vrednost </th>
        <th> Procenat rabata </th>
        <th> Ukupno rabata </th>
        <th> Umanjeno za rabat </th>
        <th> Obrisi </th>
    </tr>
    <tr ng-repeat="stavka in novaFaktura.stavke track by $index">
        <td> {{$index}} </td>
        <td> {{stavka.naziv}} </td>
        <td> {{stavka.vrsta}} </td>
        <td> {{stavka.kolicina}} </td>
        <td> {{stavka.jedinicaMere}} </td>
        <td> {{stavka.jedinicnaCena}}DIN </td>
        <td> {{stavkaVrednost(stavka)}}DIN </td>
        <td> {{stavkaProcenatRabata(stavka)}}% </td>
        <td> {{stavka.iznosRabata}}DIN </td>
        <td> {{stavkaUmanjenoRabatom(stavka)}}DIN </td>
        <td> <button class="btn btn-default" ng-click="remove(stavka)">
            <span class="glyphicon glyphicon-minus"></span>
        </button> </td>
    </tr>
</table>

<form name="nova_faktura_stavka" class="form-horizontal">
    <h3> Unos nove stavke fakture </h3>
    <div class="form-group ">
        <label class="control-label col-xs-2" for="naziv">Naziv</label>
        <div class="col-xs-4">
            <input type="text" class="form-control" placeholder="Naziv" id="naziv" ng-model="novaStavka.naziv" required/>
        </div>
    </div>
    <br>
        <div class="form-group">
            <label class="control-label col-xs-2" for="vrsta">Vrsta</label>
            <div class="col-xs-5">
                <select class="form-control " placeholder="vrsta" id="vrsta" ng-model="novaStavka.vrsta"/>
                    <option value="roba"> Roba</option>
                    <option value="usluga"> Usluga</option>
                </select>
            </div>
        </div>
        <br>
        <div class="form-group">
            <label class="control-label col-xs-2" for="kolicina">Kolicina</label>
            <div class="col-xs-5">
                <input type="number" class="form-control " placeholder="Kolicina" id="kolicina" ng-model="novaStavka.kolicina" required/>
            </div>
        </div>
        <br>
        <div class="form-group">
            <label class="control-label col-xs-2" for="jedinica-mere">Jedinica mere</label>
            <div class="col-xs-5">
                <input type="text" class="form-control " placeholder="Jedinica mere" id="jedinica-mere" ng-model="novaStavka.jedinicaMere" required/>
            </div>
        </div>
        <br>
        <div class="form-group">
            <label class="control-label col-xs-2" for="jedinicna-cena">Jedinicna cena</label>
            <div class="col-xs-5">
                <input type="number" class="form-control " placeholder="Jedinicna cena" id="jedinicna-cena" ng-model="novaStavka.jedinicnaCena" required/>
            </div>
        </div>
        <br>
        <div class="form-group">
            <label class="control-label col-xs-2">Vrednost</label>
            <label class="control-label col-xs-5 left_texted">{{stavkaVrednost(novaStavka)}}</label>
        </div>
        <br>
        <!--<div class="form-group">-->
            <!--<label class="control-label col-xs-2" for="procenat-rabata">Procenat rabata</label>-->
            <!--<div class="col-xs-5">-->
                <!--<input type="text" class="form-control " placeholder="Procenat rabata" id="procenat-rabata" />-->
            <!--</div>-->
        <!--</div>-->
        <br>
        <div class="form-group">
            <label class="control-label col-xs-2" for="iznos-rabata">Iznos rabata</label>
            <div class="col-xs-5">
                <input type="number" class="form-control " placeholder="iznos rabata" id="iznos-rabata" ng-model="novaStavka.iznosRabata"/>
            </div>
        </div>
        <br>
        <div class="form-group">
            <label class="control-label col-xs-2">Umanjeno za rabat</label>
            <label class="control-label col-xs-5 left_texted">{{stavkaUmanjenoRabatom(novaStavka)}}</label>
        </div>
        <br>
        <!--<div class="form-group">-->
            <!--<label class="control-label col-xs-2" for="ukupan-porez-stavke">Ukupan porez</label>-->
            <!--<div class="col-xs-5">-->
                <!--<input type="text" class="form-control " placeholder="Ukupan porez" id="ukupan-porez-stavke" required/>-->
            <!--</div>-->
        <!--</div>-->

        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-4">
                <button class="btn btn-default" ng-click="newItem()" ng-disabled="nova_faktura_stavka.$invalid || stavkaUmanjenoRabatom(novaStavka)<=0">Nova stavka</button><!-- ng-click="logCtrl.logging()" -->
            </div>
        </div>


</form>









